# Laboratorio 1: SQL para Cient√≠ficos de Datos - Pr√°ctica

## Objetivo del Laboratorio
En este laboratorio se pondr√°n en pr√°ctica los conceptos fundamentales de SQL presentados en el m√≥dulo te√≥rico. Se trabajar√° con una base de datos de ejemplo que simula un sistema de e-commerce, reflejando estructuras de datos comunes en entornos empresariales.

## Competencias a desarrollar
- Consultas b√°sicas con SELECT y FROM
- Filtrado de datos con WHERE y operadores l√≥gicos
- Agregaci√≥n y agrupaci√≥n de datos para generar m√©tricas
- Combinaci√≥n de tablas con JOIN para an√°lisis multidimensional
- Uso de alias para mejorar la legibilidad del c√≥digo

El dominio de estas competencias resulta fundamental para el trabajo profesional en ciencia de datos.

## 1. Setup: Conexi√≥n a Base de Datos y Datos de Ejemplo

En esta secci√≥n se importar√°n las librer√≠as necesarias y se crear√° una base de datos "en memoria" con datos de ejemplo que simula un sistema de e-commerce t√≠pico

In [ ]:
# Importar librer√≠as necesarias
import sqlite3
import pandas as pd
import numpy as np
from datetime import datetime, date

# Crear conexi√≥n a base de datos en memoria
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("‚úÖ Base de datos SQLite creada en memoria")
print("‚úÖ Librer√≠as importadas correctamente")

In [ ]:
# Crear tabla de clientes
cursor.execute('''
CREATE TABLE clientes (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    email TEXT,
    telefono TEXT,
    pais TEXT NOT NULL
)
''')

# Insertar datos de ejemplo en clientes
clientes_data = [
    (1, 'Juan P√©rez', 'juan@email.com', '555-0001', 'M√©xico'),
    (2, 'Mar√≠a Garc√≠a', 'maria@email.com', None, 'Espa√±a'),
    (3, 'Carlos L√≥pez', 'carlos@email.com', '555-0003', 'M√©xico'),
    (4, 'Ana Mart√≠nez', 'ana@email.com', '555-0004', 'Argentina'),
    (5, 'Luis Gonz√°lez', 'luis@email.com', None, 'M√©xico'),
    (6, 'Sofia Rodr√≠guez', 'sofia@email.com', '555-0006', 'Colombia'),
    (7, 'Pedro S√°nchez', 'pedro@email.com', '555-0007', 'Espa√±a'),
    (8, 'Laura Hern√°ndez', 'laura@email.com', None, 'M√©xico')
]

cursor.executemany('INSERT INTO clientes VALUES (?, ?, ?, ?, ?)', clientes_data)
print("‚úÖ Tabla 'clientes' creada con 8 registros")

In [ ]:
# Crear tabla de productos
cursor.execute('''
CREATE TABLE productos (
    id INTEGER PRIMARY KEY,
    nombre_producto TEXT NOT NULL,
    precio DECIMAL(10,2) NOT NULL,
    categoria TEXT NOT NULL
)
''')

# Insertar datos de ejemplo en productos
productos_data = [
    (1, 'Laptop Dell', 999.99, 'Electr√≥nicos'),
    (2, 'iPhone 13', 799.99, 'Electr√≥nicos'),
    (3, 'Escritorio de Madera', 299.99, 'Muebles'),
    (4, 'Silla Ergon√≥mica', 199.99, 'Muebles'),
    (5, 'Camiseta Nike', 29.99, 'Ropa'),
    (6, 'Jeans Levis', 79.99, 'Ropa'),
    (7, 'Libro Python', 39.99, 'Libros'),
    (8, 'Aud√≠fonos Sony', 149.99, 'Electr√≥nicos'),
    (9, 'Mesa de Centro', 159.99, 'Muebles'),
    (10, 'Zapatos Adidas', 89.99, 'Ropa')
]

cursor.executemany('INSERT INTO productos VALUES (?, ?, ?, ?)', productos_data)
print("‚úÖ Tabla 'productos' creada con 10 registros")

In [ ]:
# Crear tabla de √≥rdenes
cursor.execute('''
CREATE TABLE ordenes (
    id INTEGER PRIMARY KEY,
    cliente_id INTEGER,
    fecha DATE NOT NULL,
    total DECIMAL(10,2) NOT NULL,
    FOREIGN KEY (cliente_id) REFERENCES clientes(id)
)
''')

# Insertar datos de ejemplo en √≥rdenes
ordenes_data = [
    (1, 1, '2023-01-15', 999.99),
    (2, 1, '2023-02-20', 149.99),
    (3, 3, '2023-01-28', 329.98),
    (4, 4, '2023-03-10', 119.98),
    (5, 6, '2023-02-14', 799.99),
    (6, 3, '2023-03-25', 89.99),
    (7, 1, '2023-04-02', 39.99),
    (8, 7, '2023-01-05', 599.98),
    (9, 4, '2023-05-15', 79.99),
    (10, 6, '2023-03-30', 199.99)
]

cursor.executemany('INSERT INTO ordenes VALUES (?, ?, ?, ?)', ordenes_data)
print("‚úÖ Tabla 'ordenes' creada con 10 registros")

In [ ]:
# Crear tabla de empleados
cursor.execute('''
CREATE TABLE empleados (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    salario DECIMAL(10,2) NOT NULL,
    departamento TEXT NOT NULL
)
''')

# Insertar datos de ejemplo en empleados
empleados_data = [
    (1, 'Ana Directora', 95000.00, 'Gerencia'),
    (2, 'Carlos Ventas', 45000.00, 'Ventas'),
    (3, 'Mar√≠a Tech', 75000.00, 'Tecnolog√≠a'),
    (4, 'Juan Marketing', 50000.00, 'Marketing'),
    (5, 'Sofia Senior', 85000.00, 'Tecnolog√≠a'),
    (6, 'Pedro Junior', 35000.00, 'Ventas'),
    (7, 'Laura Manager', 65000.00, 'Marketing')
]

cursor.executemany('INSERT INTO empleados VALUES (?, ?, ?, ?)', empleados_data)

# Confirmar todos los cambios
conn.commit()
print("‚úÖ Tabla 'empleados' creada con 7 registros")
print("‚úÖ Todas las tablas han sido creadas exitosamente")

## 2. Consultas B√°sicas: SELECT y FROM

En esta secci√≥n se explorar√°n las consultas fundamentales de SQL, base de toda extracci√≥n de datos en sistemas empresariales.

### üéØ Ejercicio 1: An√°lisis de Cat√°logo de Productos

**Contexto empresarial:** El equipo de marketing requiere analizar el cat√°logo de productos para una pr√≥xima campa√±a publicitaria. Necesitan una lista que muestre √∫nicamente los nombres y precios de todos los productos.

**Instrucci√≥n:** Completa la consulta SQL para extraer esta informaci√≥n.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query1 = "SELECT _____, _____ FROM _____;"

# Descomenta y completa la l√≠nea anterior, luego ejecuta:
# resultado = pd.read_sql_query(query1, conn)
# print(resultado)

### üéØ Ejercicio 2: Auditor√≠a de Transacciones

**Contexto empresarial:** El departamento de auditor√≠a necesita realizar una verificaci√≥n r√°pida de las transacciones sin sobrecargar el sistema. Requieren ver solo las primeras 5 √≥rdenes para validar la estructura de datos.

**Instrucci√≥n:** Completa la consulta SQL para mostrar esta muestra.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query2 = "SELECT * FROM _____ LIMIT _____;"

# Descomenta y completa la l√≠nea anterior, luego ejecuta:
# resultado = pd.read_sql_query(query2, conn)
# print(resultado)

## 3. Filtrado de Datos con WHERE

En esta secci√≥n se aplicar√°n t√©cnicas de filtrado esenciales para el an√°lisis segmentado en contextos empresariales.

### üéØ Ejercicio 3: Segmentaci√≥n de Mercado

**Contexto empresarial:** La empresa planea lanzar una campa√±a de marketing espec√≠fica para el mercado mexicano. El equipo comercial necesita una lista completa de todos los clientes ubicados en M√©xico para dimensionar la audiencia.

**Instrucci√≥n:** Completa la consulta SQL para filtrar clientes por pa√≠s.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query3 = "SELECT * FROM _____ WHERE _____ = '_____';"

# Descomenta y completa la l√≠nea anterior, luego ejecuta:
# resultado = pd.read_sql_query(query3, conn)
# print(resultado)

### üéØ Ejercicio 4: An√°lisis de Transacciones Premium Q1

**Contexto empresarial:** El director financiero requiere un reporte de todas las transacciones de alto valor (superiores a $500) que ocurrieron durante el primer trimestre de 2023 para evaluar el performance de productos premium.

**Instrucci√≥n:** Completa la consulta SQL usando condiciones m√∫ltiples.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query4 = """
# SELECT * FROM _____ 
# WHERE _____ BETWEEN '_____' AND '_____' 
#   AND _____ > _____;
# """

# Descomenta y completa las l√≠neas anteriores, luego ejecuta:
# resultado = pd.read_sql_query(query4, conn)
# print(resultado)

### üéØ Ejercicio 5: Control de Calidad de Datos

**Contexto empresarial:** El √°rea de CRM detect√≥ que algunos clientes no tienen informaci√≥n de contacto telef√≥nico completa. Se requiere identificar todos los registros con n√∫meros de tel√©fono faltantes para una campa√±a de actualizaci√≥n.

**Instrucci√≥n:** Completa la consulta SQL para encontrar valores nulos.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query5 = "SELECT * FROM _____ WHERE _____ IS _____;"

# Descomenta y completa la l√≠nea anterior, luego ejecuta:
# resultado = pd.read_sql_query(query5, conn)
# print(resultado)

### üéØ Ejercicio 6: Benchmarking Salarial

**Contexto empresarial:** Recursos Humanos est√° realizando un estudio de compensaci√≥n para asegurar la retenci√≥n de los empleados mejor remunerados. Necesitan identificar a los 5 empleados con los salarios m√°s altos.

**Instrucci√≥n:** Completa la consulta SQL con ordenamiento y limitaci√≥n.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query6 = "SELECT * FROM _____ ORDER BY _____ _____ LIMIT _____;"

# Descomenta y completa la l√≠nea anterior, luego ejecuta:
# resultado = pd.read_sql_query(query6, conn)
# print(resultado)

### üéØ Ejercicio 7: Estrategia de Expansi√≥n Internacional

**Contexto empresarial:** El comit√© ejecutivo est√° evaluando oportunidades de expansi√≥n internacional. Requieren saber cu√°ntos pa√≠ses diferentes representan actualmente en la base de clientes para el an√°lisis estrat√©gico.

**Instrucci√≥n:** Completa la consulta SQL para contar valores √∫nicos.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query7 = "SELECT COUNT(_____ _____) as paises_unicos FROM _____;"

# Descomenta y completa la l√≠nea anterior, luego ejecuta:
# resultado = pd.read_sql_query(query7, conn)
# print(resultado)

# Tambi√©n se pueden examinar cu√°les son esos pa√≠ses:
# query7b = "SELECT _____ _____ FROM _____;"
# resultado_paises = pd.read_sql_query(query7b, conn)
# print(resultado_paises)

### üéØ Ejercicio 8: KPIs del Negocio

**Contexto empresarial:** La gerencia requiere un dashboard con m√©tricas clave del negocio: total de √≥rdenes, ingresos totales, ticket promedio, transacci√≥n m√°xima y m√≠nima para el reporte mensual a la junta directiva.

**Instrucci√≥n:** Completa la consulta SQL con m√∫ltiples funciones de agregaci√≥n.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query8 = """
# SELECT 
#     _____(*) as total_ordenes,
#     _____(total) as ingresos_totales,
#     _____(total) as promedio_orden,
#     _____(total) as orden_maxima,
#     _____(total) as orden_minima
# FROM _____;
# """

# Descomenta y completa las l√≠neas anteriores, luego ejecuta:
# resultado = pd.read_sql_query(query8, conn)
# print(resultado)

### üéØ Ejercicio 9: An√°lisis de Posicionamiento de Precios

**Contexto empresarial:** El equipo de pricing necesita evaluar la estrategia de precios actual. Requieren el precio promedio de productos por cada categor√≠a para identificar oportunidades de optimizaci√≥n de m√°rgenes.

**Instrucci√≥n:** Completa la consulta SQL con agrupaci√≥n de datos.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query9 = "SELECT _____, _____(precio) as precio_promedio FROM _____ GROUP BY _____;"

# Descomenta y completa la l√≠nea anterior, luego ejecuta:
# resultado = pd.read_sql_query(query9, conn)
# print(resultado)

### üéØ Ejercicio 11: Reporte Integrado de Ventas

**Contexto empresarial:** El √°rea comercial requiere un reporte que combine informaci√≥n de las √≥rdenes con los datos del cliente. Necesitan ver el ID de cada orden junto con el nombre del cliente, fecha y monto de la transacci√≥n.

**Instrucci√≥n:** Completa la consulta SQL usando INNER JOIN.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query11 = """
# SELECT ordenes.id as orden_id, clientes._____, ordenes._____, ordenes._____
# FROM _____ 
# _____ JOIN _____ ON ordenes._____ = clientes._____;
# """

# Descomenta y completa las l√≠neas anteriores, luego ejecuta:
# resultado = pd.read_sql_query(query11, conn)
# print(resultado)
# print(f"\nüìä Total de registros devueltos: {len(resultado)}")
# print("üí° INNER JOIN muestra √∫nicamente √≥rdenes con cliente asociado.")

### üéØ Ejercicio 12: Evaluaci√≥n de Actividad de Clientes

**Contexto empresarial:** La gerencia de CRM necesita un an√°lisis completo que muestre TODOS los clientes y sus √≥rdenes (cuando las tengan) para identificar tanto clientes activos como oportunidades de reactivaci√≥n.

**Instrucci√≥n:** Completa la consulta SQL usando LEFT JOIN.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query12 = """
# SELECT clientes._____, clientes._____, ordenes.id as orden_id, ordenes._____
# FROM _____ 
# _____ JOIN _____ ON clientes._____ = ordenes._____
# ORDER BY clientes._____;
# """

# Descomenta y completa las l√≠neas anteriores, luego ejecuta:
# resultado = pd.read_sql_query(query12, conn)
# print(resultado)
# print(f"\nüìä Total de registros devueltos: {len(resultado)}")
# print("üí° LEFT JOIN preserva todos los clientes, mostrando activos e inactivos.")

### üéØ Ejercicio 13: Campa√±a de Reactivaci√≥n de Clientes

**Contexto empresarial:** El departamento de marketing digital planea una campa√±a espec√≠fica para reactivar clientes que nunca han realizado compras. Necesitan una lista con nombre, email y pa√≠s de estos clientes potenciales.

**Instrucci√≥n:** Completa la consulta SQL combinando LEFT JOIN con filtrado de nulos.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query13 = """
# SELECT clientes._____, clientes._____, clientes._____
# FROM _____ 
# LEFT JOIN _____ ON clientes._____ = ordenes._____
# WHERE ordenes._____ IS _____;
# """

# Descomenta y completa las l√≠neas anteriores, luego ejecuta:
# resultado = pd.read_sql_query(query13, conn)
# print(resultado)
# print(f"\nüìä Clientes sin √≥rdenes: {len(resultado)}")
# print("üí° Target ideal para campa√±as de activaci√≥n y first purchase.")

### üéØ Ejercicio 14: Reporte Ejecutivo de Customer Analytics

**Contexto empresarial:** El CEO requiere un dashboard con m√©tricas consolidadas por cliente: nombre, email, pa√≠s, total de √≥rdenes, gasto total, ticket promedio y fecha de √∫ltima compra, ordenado por valor del cliente.

**Instrucci√≥n:** Completa la consulta SQL compleja usando alias, JOIN, GROUP BY y ORDER BY.

In [ ]:
# COMPLETAR LA CONSULTA AQU√ç:
# query14 = """
# SELECT 
#     c._____ AS nombre_cliente,
#     c._____ AS email_cliente,
#     c._____ AS pais_origen,
#     _____(o.id) AS total_ordenes,
#     _____(o.total) AS total_gastado,
#     _____(o.total) AS promedio_por_orden,
#     _____(o.fecha) AS ultima_compra
# FROM _____ AS c
# LEFT JOIN _____ AS o ON c._____ = o._____
# GROUP BY c._____, c._____, c._____, c._____
# ORDER BY _____ _____;
# """

# Descomenta y completa las l√≠neas anteriores, luego ejecuta:
# resultado = pd.read_sql_query(query14, conn)
# print(resultado)
# print("\nüí° Ventajas de usar alias en consultas profesionales:")
# print("   ‚Ä¢ Reduce verbosidad del c√≥digo")
# print("   ‚Ä¢ Mejora legibilidad en consultas complejas") 
# print("   ‚Ä¢ Facilita mantenimiento de reportes empresariales")

## 4. Agregaci√≥n y Agrupaci√≥n de Datos

Las funciones de agregaci√≥n permiten obtener res√∫menes estad√≠sticos fundamentales para la generaci√≥n de KPIs y m√©tricas empresariales.

In [ ]:
# Ejercicio 10: Clientes con m√∫ltiples √≥rdenes (HAVING)
# Caso empresarial: Identificar clientes que han realizado m√°s de 1 orden (clientes recurrentes)

query10 = """
SELECT cliente_id, COUNT(*) as total_ordenes
FROM ordenes 
GROUP BY cliente_id 
HAVING COUNT(*) > 1;
"""
resultado = pd.read_sql_query(query10, conn)
print(resultado)

## 5. Relaciones entre Tablas: Llaves Primarias y For√°neas

Antes de explorar los JOINs, se examina la estructura relacional que caracteriza las bases de datos empresariales modernas.

In [ ]:
# Examinar la estructura de nuestras tablas y sus relaciones
print("üìã Estructura de las tablas y sus relaciones:\n")

print("üîë Tabla CLIENTES:")
print("  - Llave Primaria: id")
print("  - Columnas: id, nombre, email, telefono, pais")

print("\nüîë Tabla PRODUCTOS:")
print("  - Llave Primaria: id")  
print("  - Columnas: id, nombre_producto, precio, categoria")

print("\nüîë Tabla ORDENES:")
print("  - Llave Primaria: id")
print("  - Llave For√°nea: cliente_id ‚Üí clientes.id")
print("  - Columnas: id, cliente_id, fecha, total")

print("\nüîë Tabla EMPLEADOS:")
print("  - Llave Primaria: id")
print("  - Columnas: id, nombre, salario, departamento")

print("\nüîó RELACIONES:")
print("   clientes (1) ‚Üê‚Üí (muchos) ordenes")
print("   ‚Üë                    ‚Üë")
print("   id ‚Üê‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ cliente_id")

## 6. INNER JOIN: Combinando Tablas Relacionadas

INNER JOIN devuelve √∫nicamente los registros que tienen coincidencias en ambas tablas, t√©cnica fundamental para an√°lisis que requieren integridad referencial.

## 7. LEFT JOIN: Incluyendo Registros Sin Coincidencias

LEFT JOIN devuelve todos los registros de la tabla izquierda, incluso sin coincidencias en la tabla derecha. Esta t√©cnica es esencial para an√°lisis de completitud y detecci√≥n de oportunidades.

## 8. Uso de Alias con AS: Mejorando la Legibilidad

Los alias constituyen una pr√°ctica est√°ndar en el desarrollo de consultas SQL para entornos de producci√≥n, mejorando la mantenibilidad del c√≥digo.

## üéØ Ejercicios de Pr√°ctica Adicional

Los siguientes ejercicios permiten consolidar los conceptos aprendidos mediante casos de aplicaci√≥n empresarial. Las soluciones se presentan en las celdas subsiguientes.

In [ ]:
# üèãÔ∏è‚Äç‚ôÇÔ∏è EJERCICIOS ADICIONALES PARA PR√ÅCTICA INDEPENDIENTE:
print("üí™ Los siguientes retos permiten aplicar m√∫ltiples conceptos simult√°neamente.")
print("Cada ejercicio representa un caso empresarial complejo.\n")

print("üìù Ejercicio A: An√°lisis de segmento premium")
print("   Contexto: Marketing requiere identificar productos electr√≥nicos de lujo")
print("   Tarea: Encontrar productos de categor√≠a 'Electr√≥nicos' con precio > $500")
print("   Completa: SELECT * FROM _____ WHERE _____ = '____' AND _____ > ____;")
print()

print("üìù Ejercicio B: Estudio de compensaci√≥n departamental")
print("   Contexto: RRHH eval√∫a equidad salarial entre departamentos")
print("   Tarea: Calcular salario promedio por departamento") 
print("   Completa: SELECT _____, _____(salario) FROM _____ GROUP BY _____;")
print()

print("üìù Ejercicio C: Programa VIP para clientes mexicanos")
print("   Contexto: Lanzamiento de programa exclusivo para high-value customers de M√©xico")
print("   Tarea: Clientes de M√©xico con gasto total > $1000")
print("   Completa: SELECT c._____, SUM(o._____) FROM _____ c JOIN _____ o")
print("            ON c._____ = o._____ WHERE c._____ = '____'")
print("            GROUP BY c._____ HAVING SUM(o._____) > _____;")
print()

print("üìù Ejercicio D: Identificaci√≥n de top performers")
print("   Contexto: Bonificaci√≥n para empleados sobre el promedio general")
print("   Tarea: Empleados con salario superior al promedio de la empresa")
print("   Completa: SELECT _____ FROM _____ WHERE _____ > (SELECT _____(____) FROM _____);")
print()

print("üìù Ejercicio E: An√°lisis de mercados geogr√°ficos")
print("   Contexto: Evaluaci√≥n de performance por regi√≥n para asignaci√≥n de presupuesto")
print("   Tarea: Total de ventas y n√∫mero de √≥rdenes por pa√≠s")
print("   Completa: SELECT c._____, SUM(o._____), COUNT(o._____)")
print("            FROM _____ c JOIN _____ o ON c._____ = o._____")
print("            GROUP BY c._____ ORDER BY SUM(o._____) _____;")

print("\n" + "="*60)
print("‚úèÔ∏è  COMPLETA LOS EJERCICIOS EN LAS CELDAS SIGUIENTES:")
print("="*60)

In [ ]:
# üìö SECCI√ìN DE SOLUCIONES PARA VERIFICACI√ìN

print("‚úÖ SOLUCIONES DE LOS EJERCICIOS PRINCIPALES:\n")

print("? Ejercicio 1 - An√°lisis de Cat√°logo:")
print("query1 = \"SELECT nombre_producto, precio FROM productos;\"")
print()

print("? Ejercicio 2 - Auditor√≠a de Transacciones:")
print("query2 = \"SELECT * FROM ordenes LIMIT 5;\"")
print()

print("üîë Ejercicio 3 - Segmentaci√≥n Geogr√°fica:")
print("query3 = \"SELECT * FROM clientes WHERE pais = 'M√©xico';\"")
print()

print("? Ejercicio 4 - An√°lisis Premium Q1:")
print("query4 = \"\"\"")
print("SELECT * FROM ordenes")
print("WHERE fecha BETWEEN '2023-01-01' AND '2023-03-31'")
print("  AND total > 500;")
print("\"\"\"")
print()

print("üîë Ejercicio 5 - Control de Calidad:")
print("query5 = \"SELECT * FROM clientes WHERE telefono IS NULL;\"")
print()

print("? Ejercicio 6 - Benchmarking Salarial:")
print("query6 = \"SELECT * FROM empleados ORDER BY salario DESC LIMIT 5;\"")
print()

print("üîë Ejercicio 7 - Expansi√≥n Internacional:")
print("query7 = \"SELECT COUNT(DISTINCT pais) as paises_unicos FROM clientes;\"")
print("query7b = \"SELECT DISTINCT pais FROM clientes;\"")
print()

print("? Ejercicio 8 - KPIs del Negocio:")
print("query8 = \"\"\"")
print("SELECT")
print("    COUNT(*) as total_ordenes,")
print("    SUM(total) as ingresos_totales,")
print("    AVG(total) as promedio_orden,")
print("    MAX(total) as orden_maxima,")
print("    MIN(total) as orden_minima")
print("FROM ordenes;")
print("\"\"\"")
print()

print("üîë Ejercicio 9 - Posicionamiento de Precios:")
print("query9 = \"SELECT categoria, AVG(precio) as precio_promedio FROM productos GROUP BY categoria;\"")
print()

print("\n" + "="*60)
print("Para ver las soluciones de los ejercicios de JOIN, contin√∫a a la siguiente celda...")
print("="*60)

In [ ]:
# üìö SOLUCIONES DE EJERCICIOS AVANZADOS (JOIN y Ejercicios Adicionales)

print("‚úÖ SOLUCIONES DE EJERCICIOS DE JOIN:\n")

print("üîë Ejercicio 11 - Reporte Integrado de Ventas:")
print("query11 = \"\"\"")
print("SELECT ordenes.id as orden_id, clientes.nombre, ordenes.fecha, ordenes.total")
print("FROM ordenes")
print("INNER JOIN clientes ON ordenes.cliente_id = clientes.id;")
print("\"\"\"")
print()

print("üîë Ejercicio 12 - Evaluaci√≥n de Actividad de Clientes:")
print("query12 = \"\"\"")
print("SELECT clientes.nombre, clientes.pais, ordenes.id as orden_id, ordenes.total")
print("FROM clientes")
print("LEFT JOIN ordenes ON clientes.id = ordenes.cliente_id")
print("ORDER BY clientes.nombre;")
print("\"\"\"")
print()

print("üîë Ejercicio 13 - Campa√±a de Reactivaci√≥n:")
print("query13 = \"\"\"")
print("SELECT clientes.nombre, clientes.email, clientes.pais")
print("FROM clientes")
print("LEFT JOIN ordenes ON clientes.id = ordenes.cliente_id")
print("WHERE ordenes.id IS NULL;")
print("\"\"\"")
print()

print("üîë Ejercicio 14 - Dashboard Ejecutivo:")
print("query14 = \"\"\"")
print("SELECT")
print("    c.nombre AS nombre_cliente,")
print("    c.email AS email_cliente,")
print("    c.pais AS pais_origen,")
print("    COUNT(o.id) AS total_ordenes,")
print("    SUM(o.total) AS total_gastado,")
print("    AVG(o.total) AS promedio_por_orden,")
print("    MAX(o.fecha) AS ultima_compra")
print("FROM clientes AS c")
print("LEFT JOIN ordenes AS o ON c.id = o.cliente_id")
print("GROUP BY c.id, c.nombre, c.email, c.pais")
print("ORDER BY total_gastado DESC;")
print("\"\"\"")
print()

print("\n‚úÖ SOLUCIONES DE EJERCICIOS ADICIONALES:\n")

print("üîë Ejercicio A - Productos Premium:")
print("SELECT * FROM productos WHERE categoria = 'Electr√≥nicos' AND precio > 500;")
print()

print("üîë Ejercicio B - Compensaci√≥n Departamental:")
print("SELECT departamento, AVG(salario) FROM empleados GROUP BY departamento;")
print()

print("üîë Ejercicio C - Programa VIP M√©xico:")
print("SELECT c.nombre, SUM(o.total) FROM clientes c JOIN ordenes o")
print("ON c.id = o.cliente_id WHERE c.pais = 'M√©xico'")
print("GROUP BY c.id HAVING SUM(o.total) > 1000;")
print()

print("üîë Ejercicio D - Top Performers:")
print("SELECT nombre FROM empleados WHERE salario > (SELECT AVG(salario) FROM empleados);")
print()

print("üîë Ejercicio E - Mercados Geogr√°ficos:")
print("SELECT c.pais, SUM(o.total), COUNT(o.id)")
print("FROM clientes c JOIN ordenes o ON c.id = o.cliente_id")
print("GROUP BY c.pais ORDER BY SUM(o.total) DESC;")

## üéâ Competencias Adquiridas

Se han completado exitosamente los ejercicios fundamentales de SQL para ciencia de datos. 

### üìö Competencias desarrolladas:
- ‚úÖ Consultas b√°sicas con `SELECT` y `FROM` para extracci√≥n de datos
- ‚úÖ Filtrado avanzado con `WHERE`, `AND`, `OR`, `BETWEEN` para segmentaci√≥n
- ‚úÖ Manejo profesional de valores nulos con `IS NULL` / `IS NOT NULL`
- ‚úÖ Ordenamiento y limitaci√≥n con `ORDER BY` y `LIMIT` para an√°lisis eficiente
- ‚úÖ Funciones de agregaci√≥n: `COUNT`, `SUM`, `AVG`, `MAX`, `MIN` para m√©tricas KPI
- ‚úÖ Agrupaci√≥n de datos con `GROUP BY` para an√°lisis categ√≥rico
- ‚úÖ Filtrado de grupos con `HAVING` para an√°lisis de cohortes
- ‚úÖ Combinaci√≥n de tablas con `INNER JOIN` y `LEFT JOIN` para an√°lisis multidimensional
- ‚úÖ Uso de alias con `AS` para desarrollo de c√≥digo mantenible

### üöÄ Relevancia profesional:
Estas competencias constituyen la base fundamental para:
1. **An√°lisis de datos empresariales**: Extracci√≥n y transformaci√≥n de informaci√≥n de sistemas transaccionales
2. **Desarrollo de KPIs**: Creaci√≥n de m√©tricas para monitoreo del negocio
3. **Preparaci√≥n de datos**: Limpieza y estructuraci√≥n para modelos de machine learning
4. **Reporter√≠a anal√≠tica**: Generaci√≥n de insights para toma de decisiones estrat√©gicas

### üí° Siguientes pasos recomendados:
1. **Aplicaci√≥n pr√°ctica**: Implementaci√≥n en datasets reales del dominio profesional
2. **T√©cnicas avanzadas**: Subconsultas, CTEs, funciones de ventana para an√°lisis sofisticados
3. **Optimizaci√≥n**: T√©cnicas de performance para grandes vol√∫menes de datos
4. **Integraci√≥n**: Conexi√≥n con herramientas de ciencia de datos (Python, R, herramientas de BI)

El dominio de SQL representa una competencia diferenciadora en el mercado laboral de ciencia de datos y an√°lisis empresarial.

---
*La pr√°ctica constante y la aplicaci√≥n en casos reales consolidar√°n estas competencias para uso profesional.*

In [ ]:
# Cerrar la conexi√≥n a la base de datos
conn.close()
print("üîí Conexi√≥n a la base de datos cerrada correctamente.")
print("? Laboratorio de SQL completado exitosamente.")